﻿@using Umbraco.Core.Models
@using Our.Umbraco.Ditto
@using Umbraco.Web
@using UmBazo.Models
@using File = System.IO.File
@using Page = UmBazo.Models.Page

@helper PageLink(IPublishedContent page)
{
    <a href="@page.Url">@page.Name</a>
}

@helper RobotsTag(UmbracoHelper helper)
{
   IPage currentPage = helper.AssignedContentItem.As<Page>();
   string arg1 = currentPage.SeoNoIndex ? "NOINDEX" : "INDEX";
   string arg2 = currentPage.SeoNoFollow ? "NOFOLLOW" : "FOLLOW";

    <meta name="ROBOTS" content="@arg1, @arg2">
}

@helper GoogleSiteVerification(UmbracoHelper helper)
    {
        IPage currentPage = helper.AssignedContentItem.As<Page>();
        string code = currentPage.Site().As<Site>().SiteVerificationCode;

        if (!string.IsNullOrEmpty(code))
        {
            <meta name="google-site-verification" content="@code">
        }
}

@helper StyleTag(String url)
    {
        var path = Server.MapPath(url);
        DateTime date = File.GetLastWriteTime(path);
        var formattedPath = string.Format("{0}?v={1}", url, date.Ticks);
        <link href="@formattedPath" rel="stylesheet" />
}

@helper ScriptTag(String url)
    {
        var path = Server.MapPath(url);
        DateTime date = File.GetLastWriteTime(path);
        var formattedPath = string.Format("{0}?v={1}", url, date.Ticks);
        <script src="@formattedPath"></script>
}
