﻿@*@using Umbraco.Web
@using Umbraco.Core.Models
@using Our.Umbraco.Ditto
@using Our.Umbraco.Picture
@using Our.Umbraco.Picture.Models

@functions
{
    public static IPictureElement GetArticleHeroPicture(UmbracoHelper umbraco, IPublishedContent mediaContent)
    {
        if (mediaContent == null)
        {
            return null;
        }

        var mainMedia = mediaContent.As<Image>();
        IPictureElement picture = null;

        if (mainMedia != null)
        {
            picture = umbraco.Picture()
                .Source("(min-width:600px)", mainMedia.GetCropUrl(ImageSizes.ArticleHero))
                .Srcset(mainMedia.GetCropUrl(ImageSizes.ArticleHeroSmall))
                .Attr("class", "img-responsive")
                .Alt(mainMedia.AltText);
        }

        return picture;
    }

    public static IPictureElement GetBlockImageFullPicture(UmbracoHelper umbraco, IPublishedContent mediaContent)
    {
        if (mediaContent == null)
        {
            return null;
        }

        var mainMedia = mediaContent.As<Image>();
        IPictureElement picture = null;

        if (mainMedia != null)
        {
            picture = mainMedia.Picture()
                .Source("(min-width:600px)", mainMedia.GetCropUrl(ImageSizes.BlockImageFull))
                .Srcset(mainMedia.GetCropUrl(ImageSizes.BlockImageFullSmall))
                .Attr("class", "img-responsive")
                .Alt(mainMedia.AltText);
        }

        return picture;
    }

    public static IPictureElement GetBlockImageQuarterPicture(UmbracoHelper umbraco, IPublishedContent mediaContent)
    {
        if (mediaContent == null)
        {
            return null;
        }

        var mainMedia = mediaContent.As<Image>();
        IPictureElement picture = null;

        if (mainMedia != null)
        {
            picture = mainMedia.Picture()
                .Source("(min-width:600px)", mainMedia.GetCropUrl(ImageSizes.BlockImageQuarter))
                .Srcset(mainMedia.GetCropUrl(ImageSizes.BlockImageQuarterSmall))
                .Attr("class", "img-responsive")
                .Alt(mainMedia.AltText);
        }

        return picture;
    }

    public static IPictureElement GetBlockImageHalfPicture(UmbracoHelper umbraco, IPublishedContent mediaContent)
    {
        if (mediaContent == null)
        {
            return null;
        }

        var mainMedia = mediaContent.As<Image>();
        IPictureElement picture = null;

        if (mainMedia != null)
        {
            picture = mainMedia.Picture()
                .Source("(min-width:600px)", mainMedia.GetCropUrl(ImageSizes.BlockImageHalf))
                .Srcset(mainMedia.GetCropUrl(ImageSizes.BlockImageHalfSmall))
                .Attr("class", "img-responsive")
                .Alt(mainMedia.AltText);
        }

        return picture;
    }

    public static IPictureElement GetPropertyTopPicture(UmbracoHelper umbraco, IPublishedContent mediaContent)
    {
        if (mediaContent == null)
        {
            return null;
        }

        var mainMedia = mediaContent.As<Image>();
        IPictureElement picture = null;

        if (mainMedia != null)
        {
            picture = mainMedia.Picture()
                .Source("(min-width:600px)", mainMedia.Url)
                .Srcset(mainMedia.Url)
                .Attr("class", "img-responsive")
                .Alt(mainMedia.AltText);
        }

        return picture;
    }
}*@
