﻿@inherits UmbracoViewPage<UmBazo.Core.SharedKernel.IMasterModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@Model.LanguageIsoCode">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="@Model.MetaDescription">
    <title>@Model.PageTitle</title>
    <link rel="manifest" href="/manifest.json">
</head>
<body class="page page">

    <main class="page__main page__main">
        @RenderBody()
    </main>
</body>
</html>
