﻿@inherits UmbracoViewPage<UmBazo.UmbracoExtensions.Models.MasterModel<UmBazo.Models.Start>>

<h1>@Model.Content.Heading</h1>
<img src="@Model.Content.MainImage.Url" alt="@Model.Content.MainImage.Name"/>